.note-view-container {

  width: 73%;
  margin-left: 24rem;
  height: 80vh;
  overflow-y: scroll;
  max-height: 62%;
  position: relative;
  bottom: 9%;
}
.note-view {
  padding: 1rem;
  width: 90%;
}
.time-container {
  text-align: left;
}
.time {
  margin-top: 0.3rem;
}
.note {
  padding: 0.8rem 1rem;
  line-height: 1.5rem;
}
.example-txt{
  padding-top: 1rem;
  letter-spacing: 0.03em;
}

.note-view-container::-webkit-scrollbar {
  width: 0.6rem;
  height: 1rem;
  border-radius: 1rem;
}

/* media queries */

@media screen and (max-width: 768px) {
  .note-view-container {
    width: 100%;
    margin-left: 0;
    height: 59%;
    position: relative;
    bottom: 7%;
  }
}
